<html lang="en">
<head>
    <title>Profile Page</title>
</head>
<body>
    <h1 class="">Welcome<%= user.name%></h1>
    <h4 class="">Email<%= user.email%></h4>
    <h4 class="">Phone<%= user.phone%></h4>
</body>
</html>